#menu{
  padding-top: 0px;
  padding-bottom: 0px;
  background-color:#fff;
border-bottom: 1px solid#ffa700;
}
#menu .row{
  margin-bottom: 0px;
}
.logo{max-width: 100px;}
nav{
  background-color: #fff !important;
  box-shadow: none !important;
}
nav a{
  color: #000 !important;
}